<%- include("partials/header") %>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
    <div class="row">
        <% visualizations.forEach( (vis) => { %>
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5">
                <div class="card w-100">
                    <img src="<%= vis.thumbnail_url %>" class="card-img-top" alt="thumbnail image">
                    <div class="card-body">
                      <p class="card-title"> <%= vis.title %> </p>
                      <p class="card-text"> <%= vis.description %> </p>
                      <a href="#" class="card-link">See more</a>
                    </div>
                  </div>
            </div>
        <% });  %>   
    </div>
  </div>

<%- include("partials/footer") %>
