<%- include("../partials/header") %>
<%- include("../partials/loginModal") %>
<%- include("../partials/referenceModal") %>

<div class="container">
    <br>
    <h1 class="display-6 mt-5"><%= chart.type %></h1>
    <hr class="mb-1">
    <p  class="label-author">Posted by <span><%= chart.author.username %></span></p>
    <div class="row mt-5">
        <!-- left-side column -->
        <div class="col-sm-12 col-md-5">
            <img src="<%= chart.thumbnail_url %>" class="card-img-top">
        </div>

        <!--  middle column	 -->
        <div class="col-sm-12 col-md-4 mt-5 mt-md-0">
            <h4>DESCRIPTION</h4>
            <p> <%= chart.description %></p>
        </div>

        <!-- right-side column	 -->
        <div class="col-sm-11 col-md-2 mx-auto p-0">
            <div class="container">
                <h4>FUNCTIONS</h4>
                <ul class="p-0 m-0 ml-3">
                    <% chart.functions.forEach(fn => { %>
                        <li class="m-0 p-0"> <%= fn %></li>
                    <% });%>
                </ul>
                <br>
                <hr my-5>
                <h4>SHAPE</h4>
                <ul class="p-0 m-0 ml-3">
                    <% chart.shapes.forEach(shape => { %>
                        <li class="m-0 p-0"> <%= shape %></li>
                    <% });%>
                </ul>
            </div>
        </div>
    </div>
    <br><br><br>

    <div class="row my-5">
        <h4 class="">OTHER REFERENCES</h4>
        <% if (currentUser) { %>
            <a class="btn btn-blue btn-sm ml-auto" href="#" role="button" data-toggle="modal" data-target="#modalAddReference"> <i class="fas fa-plus"></i>  add a reference</a>
        <% } else { %>
            <div class="d-flex align-items-center ml-auto mt-3 mt-md-0 ">
                Want to contribute? <a class="btn btn-blue" href="#" role="button" data-toggle="modal" data-target="#modalLogIn"> Log in »</a>
            </div>
        <% } %>
    </div>

    <div class="row">
        <% if (!chart.samples.length) { %>
            <p>No references have been posted yet. </p>
        <% } else { %>
            <% chart.samples.forEach(chart =>{ %>
                <div class="col-10 col-md-3 my-3 px-3 px-md-1">
                    <div>
                        <a href="<%= chart.url %>" target="_blank">
                            <img src="<%=  chart.thumbnail_url %>" class="img-fluid img-vis-sample">
                        </a>
                    </div>
                </div>
            <% }); %>
        <% } %>
    </div>

    <div class="row my-5">
        <h4 class="">COMMENTS</h4>
        <% if (!currentUser) { %>
            <div class="d-flex align-items-center ml-auto mt-3 mt-md-0 ">
                Want to contribute? <a class="btn btn-blue" href="#" role="button" data-toggle="modal" data-target="#modalLogIn"> Log in »</a>
            </div>
        <% } %>
    </div>

    <div class="row">
        <% if (!chart.comments.length) { %>
            <p>No comments have been posted yet. </p>
        <% } else { %>
            <% chart.comments.forEach(function(comment, i) { %>
                <div class="col-12 px-3 px-md-1">
                    <span class="float-right"> <%= comment.date.toLocaleDateString() %></span>
                    <p class="font-weight-bold"> <%= comment.author.username %> </p>
                    <% if (currentUser && currentUser._id.equals(comment.author.id)) { %>
                        <div class="float-right">
                            <%- include('../partials/commentEditModal') %>
                            <button class="btn btn-grey p-0" class="card-link" href="#" role="button" data-toggle="modal" data-target="#modalCommentEdit"><i class="far fa-edit"></i></button>
                            <form class="d-inline" action="/vis/<%= chart.id %>/comments/<%= comment.id %>?_method=DELETE" method="POST">
                                <button class="btn btn-grey p-0" ><i class="far fa-trash-alt"></i></button>
                            </form>
                        </div>
                    <% } %>
                    <p> <%- comment.text %> </p>
                    <% if (i < chart.comments.length - 1) { %>
                        <hr>
                    <% } %>
                </div>
            <% }); %>
        <% } %>
        <% if(currentUser) { %>
            <div class="col-12 my-3 px-3 px-md-1">
                <form class="border rounded p-2" role="form" method="POST" action="/vis/<%= chart.id %>/comments">
                    <div class="form-group">
                        <label for="text"></label>
                        <textarea type="text" class="form-control" id="text" name="text" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-blue"> Post your comment</button>
                </form>
            </div>
        <% } %>
    </div>
</div>

<%- include("../partials/footer") %>